
.dark-mode{
  background-color: black;
  color: white;
}
.bold{
  font-weight: 700;
}
.italic{
  font-style: italic;
}
.light-mode{
  background-color: white;
}
.light-mode .generalSection{
  background: #ECF0F1;
}
.otherSkillsSection{

}